<div class="holder">
  <div class="ui middle aligned grid">
    <div class="eight column wide">
      <div class="ui container">
        <div id="conversation">
          <div class="bot bubble">
            Hi, I'm a reminder bot! Message me to make a reminder for yourself.
          </div>
          <div style="clear:both"></div>
          <div class="bot bubble">
            First, message me a number you'd like me to notify you in the format 1234567890.
          </div>
          <div style="clear:both"></div>
          <div style="clear:both"></div>
        </div>
        <div id="message">
          <form name="reply">
            <div class="ui action input">
              <input type="text" id="message-text" placeholder="Enter your message here...">
              <button id="message-submit" class="ui icon button">
                <i class="ionicons ion-android-send"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
